@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

<div class="text-center">
        <h1 class="text-white" >Welcome to our Flight Booking Service</h1>
        <br />
        <p class="text-white font-weight-bold font-italic">"Embark on a journey of discovery and adventure. Explore the skies with our seamless flight booking experience. Your dream destination is just a click away!"</p>
        <br/>
        <div class="about-us-section">
            <h2 style="text-align:left" class=" text-white font-weight-normal">About Us:</h2>
            <p class="text-white lh-lg " style="text-align:left ">Welcome to <b>TravelLEB</b>, where we transform your travel dreams into reality. As a leading flight booking service, we take pride in providing a seamless and enjoyable experience for our customers. With a passion for travel and a commitment to excellence, we strive to offer you the best deals on flights to destinations around the globe. Our user-friendly platform ensures that planning your journey is as effortless as the adventure itself. At  <b>TravelLEB</b>, we believe in more than just reaching your destination; we believe in creating unforgettable memories along the way. Whether you're a frequent flyer or embarking on your first voyage, trust us to make your travel experience extraordinary. Discover the world with confidence. Book your flights with  <b>TravelLEB</b> today and let the skies become the canvas for your next great adventure.</p>
            <br />
            <div class=" bg-gradient" style="border-radius:1000px">
                <img style="border-radius:50px"src="/images/trave with us.png" />
            </div>
        </div>
        <style>
        #explorehere {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        }

        #map-container {
        border-radius: 10px;
        overflow: hidden;
        }

        #map {
        width: 600px;
        height: 450px;
        border: 0;
        }

        #explore-info {
        padding: 20px;
        width: 300px;
        background-color: #f0f0f0;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        </style>
            <div id="explorehere">
            <div id="explore-info">
                <h2>Explore the World</h2>
                <p>
                    Discover amazing places and cultures around the globe. Begin your journey today and let each destination weave tales of adventure and discovery. Immerse yourself in the beauty of diverse landscapes and the richness of global traditions. Uncover new horizons, create lasting memories, and embrace the world's wonders one step at a time!
                </p>
            </div>
            <div id="map-container">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52992.28582439883!2d35.42634126631448!3d33.88919376233088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f17215880a78f%3A0x729182bae99836b4!2sBeirut!5e0!3m2!1sen!2slb!4v1701456423632!5m2!1sen!2slb" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            </div>
</div>
</div>
