<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What Words of Tourists
            </h2>
            <p>
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </p>
        </div>
    </div>
    <div class="container">
        <div id="carouselExample2Controls" class="carousel slide container-bg" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h2>
                                liquip ex
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaLorem ipsum dolor sit amet
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h2>
                                liquip ex
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaLorem ipsum dolor sit amet
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h2>
                                liquip ex
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaLorem ipsum dolor sit amet
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom_carousel-control">
                <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
</section>