@model IEnumerable<Feedback>
@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .circle-container {
        position: relative;
        width: 60%;
        height: 700px;
        background-color: white;
        border-radius: 2%;
        border:none ;
        margin: 20px auto;
        overflow: hidden;
        margin-top:0;
        display:flex ;
        justify-content:center;
        overflow:scroll;
    }

    .editable-content {
       padding:5% ;
       width:100% ;
    }

    #myfeedback {
        margin-left:21% ;
        margin-bottom:0;
    }
</style>
<h2 class="text-white" style="text-align:center; margin:10px;">@ViewData["Title"]</h2>
<a asp-controller="Feedback" asp-action="myFeedbacks" class="btn btn-primary" id="myfeedback">My Feedbacks</a>
<a asp-controller="Feedback" asp-action="Add" class="btn btn-warning">Add a feedback</a>
<div class="circle-container" >
    <div class="editable-content">
        @foreach (Feedback feedback in Model)
        {
            <div style="display:flex; flex-direction:column;">
                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    @if (feedback.User != null)
                    {
                        <h4>@feedback.User.name</h4>
                    }
                    else
                    {
                        <p>User not available</p>

                        
                    }
                    <div>
                    <p style=" margin-right:5px; color:gray;">Rating:</p> 
                    <span style="color:gray;">@feedback.Rate /5</span>
                    </div>
            </div>
                <p style="align-self:flex-start; text-align:left">
                @feedback.feedback_details
            </p>
            </div>
            <hr>
        }



    </div>
</div>