
<section class="trip_section layout_padding" id="bookTrip">
    <div class="container">
        <div class="heading_container">
            <h2>
                Book Your Trip
            </h2>
            <p>
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </p>
        </div>
    </div>
    <div as class="container ">
        <div class="box container-bg">
            <div class="img-box">
                <img src="images/form-img.png" alt="">
            </div>
            <div class="form_container">
                <form asp>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <img src="images/location.png" alt="">
                                </div>
                            </div>
                            <input type="email" class="form-control" id="inputDestination" placeholder="enter your email or phone number for communcation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <img src="images/location.png" alt="">
                                </div>
                            </div>
                            <input type="number" class="form-control" id="inputpeoplenumber" placeholder="put your number of booked people  ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <img src="images/location.png" alt="">
                                </div>
                            </div>
                            <input type="date" class="form-control" id="inputdate" placeholder="Set A Date">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <img src="images/language.png" alt="">
                                </div>
                            </div>
                            <select id="inputLanguage" class="form-control">
                                <option selected>All Language</option>
                                <option>Arabic</option>
                                <option>english</option>
                                <option>french</option>

                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <img src="images/down-arrow.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <img src="images/earth.png" alt="">
                                </div>
                            </div>
                            <select class="form-control">
                                <option selected>All Destinations</option>
                              @*   @foreach (var item in ViewBag.Destinations)
                                {
                                    <option>@item.Destination (@item.Departure) - @item.Price $</option>
                                }  *@
                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <img src="images/down-arrow.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="select_arrow"></div>
                    </div>
 
                    <div class="btn-box">
                        <button type="submit" class="">Book Now</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
