@model List<Package>
@{
    ViewData["Title"] = "My packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-white">@ViewData["Title"]</h2>
    <table class="table">
        <thead>
            <tr class="text-white">
                <th>Package Details</th>
                <th>Flight</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var package  in Model)
            {
                <tr class="text-white">

                    <td>@package.Package_details</td>
                    <td>@package.Flight?.flight_Name</td>
                    <td>$@package.Price</td>
                    <td>
                        <a asp-controller="Package" asp-action="cancelPackage" asp-route-id="@package.Id" class="btn btn-warning">Cancel Package</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
