
<section class="package_section" id="package">

    <div class="container">
        <div class="heading_container">
            <h2>
                Our Packages
            </h2>
            <p>
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box container-bgpack">
            <div class="detail-container">
                <div class="detail-box">
                    <h4>
                        Basic Rate
                    </h4>
                    <h2>
                        <span>$</span>200
                    </h2>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            adipiscing elit, sed do
                        </li>
                        <li>
                            eiusmod tempor
                        </li>
                    </ul>
                    <a href="">
                        Book Now
                    </a>
                </div>
                <div class="detail-box">
                    <h4>
                        Special Rate
                    </h4>
                    <h2>
                        <span>$</span>300
                    </h2>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            adipiscing elit, sed do
                        </li>
                        <li>
                            eiusmod tempor
                        </li>
                    </ul>
                    <a href="">
                        Book Now
                    </a>
                </div>
                <div class="detail-box">
                    <h4>
                        Special Rate
                    </h4>
                    <h2>
                        <span>$</span>300
                    </h2>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            adipiscing elit, sed do
                        </li>
                        <li>
                            eiusmod tempor
                        </li>
                    </ul>
                    <a href="">
                        Book Now
                    </a>
                </div>
                <div class="detail-box">
                    <h4>
                        Special Rate
                    </h4>
                    <h2>
                        <span>$</span>300
                    </h2>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            adipiscing elit, sed do
                        </li>
                        <li>
                            eiusmod tempor
                        </li>
                    </ul>
                    <a href="">
                        Book Now
                    </a>
                </div>
                <div class="detail-box">
                    <h4>
                        Special Rate
                    </h4>
                    <h2>
                        <span>$</span>300
                    </h2>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            Lorem ipsum dolor sit
                        </li>
                        <li>
                            adipiscing elit, sed do
                        </li>
                        <li>
                            eiusmod tempor
                        </li>
                    </ul>
                    <a href="">
                        Book Now
                    </a>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    See More
                </a>
            </div>
        </div>
    </div>
</section>